<center><h1> Welcome to POLLSTER </h1>


<br/><%= link_to  "Existing Polls" , :controller => 'polls', :action => 'index'%><br/>


<br/><%= link_to "Create a Poll", :controller => 'polls' , :action => 'new'%> <br/>



<br><%= link_to "LOGOUT" , :action => 'logout' %>



</center>

